body,
html {
  height: 100%;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.map-image {
  max-width: 75%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

a.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: none;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  background-color: #da291c;
  min-width: 100px;
}

a.button:hover {
  color: white;
  background-color: #e0e0e1;
}

a.small-button:hover {
  color: white;
  background-color: #e0e0e1;
}

@media all and (max-width: 30em) {
   a.button {
    display: block;
    margin: 0.4em auto;
  }
}

p {
  padding-left: 200px;
  padding-right: 200px;
  font-size: large;
}
