.logo-image {
  max-height: 100px;
}

/* a.button {
  background-color: red;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 5px;
  width: 25%;
} */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 10px;
}

a.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: none;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  background-color: red;
}
a.button:hover {
  color: white;
  background-color: gray;
}
@media all and (max-width: 30em) {
   a.button {
    display: block;
    margin: 0.4em auto;
  }
}
