.logo-image {
  max-height: 100px;
}

#main {
  vertical-align: middle;
  width: 100%;
  text-align: center;
  display: table;
}
.center {
  padding-top: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "brandon grotesque", sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

img {
  max-width: 100%;
  height: auto;
}

a.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: none;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  background-color: red;
}
a.button:hover {
  color: white;
  background-color: gray;
}
@media all and (max-width: 30em) {
   a.button {
    display: block;
    margin: 0.4em auto;
  }
}
